body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* 标题 */
header {
    background-color: #333;
    color: white;
    padding: 0px;
    text-align: center;
    height: 13vh;
}
a {
    color: #007BFF;
    text-decoration: none;
    position: relative;
}
a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0%;
    height: 2px;
    background-color: #007BFF;
    transition: width 0.3s ease;
}
a:hover::after {
    width: 100%;
}
/* 播放窗口侧边边栏 */
.main-content {
    display: flex;
    flex-grow: 1;
    padding: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
/* 播放窗口 */
.game-container {
    flex: 3;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    height: 480px;
    position: relative;
    max-width: 800px;
    max-height: 500px;
    object-fit: contain;
    margin-left: 100px;
}
/* Flash显示位置 */
.game-container embed {
    height: auto;
    width: 640px;
    min-height: 480px;
    max-height: none;
}
/* 边栏文字介绍区 */
.text-container {
    flex: 1;
    background-color: #fafafa;
    padding: 10px;
    height: 100%;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
}
/* 按钮栏 */
.bottom-bar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: #ddd;
    box-sizing: border-box;
    padding: 0;
    padding-left: 100px;
}
@media (max-width: 1000px) {
    .main-content {
        flex-direction: column;
        align-items: center;
    }
    .game-container,
    .text-container {
        flex: none;
        width: 90%;
        height: 300px;
    }
    .bottom-bar {
        width: 90%;
        justify-content: center;
    }
    .bottom-text {
        width: 90%;
    }
}
/* 按钮 */
.bottom {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 8px;
    text-decoration: none;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px; 
    .icon{
        color: oklch(0.7 0.14 112);
        vertical-align: middle;
    }
    .bottomP{
        all: unset; 
        color: oklch(0.7 0.14 112);
        text-decoration: none;
    }
    &:hover {
        background-color: oklch(0.95 0.025 112);
    }
    .copy-button {
        padding: 0;
        font: inherit;
        background: none;
        border: none;
        cursor: pointer;
    }
}
/* 底部说明 */
.bottom-text {
    padding-left: 10%;
    max-width: 80%;
}
/* 评论区 */
.twikoo {
    padding-left: 5%;
    max-width: 90%;
}